/* You can add global styles to this file, and also import other style files */
* {
	padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
	padding: 0 15px;
	background-image: url(https://static.wunderlist.com/e1a9ddc47beb988e8bc86d09a7d2780a9868097d/images/backgrounds/2048/06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
