.add-task {
	background: rgba(102,137,100,0.75);
	overflow: hidden;
    position: relative;
    margin: 14px 0;
    padding: 0 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.add-task .plus-wrapper {
    display: block;
    position: absolute;
    top: 7px;
    opacity: .7;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}
.add-task .add-task-input {
    font-size: 16px;
    padding: 14px 60px 14px 28px;
    color: #fff;
    line-height: 20px;
    width: 100%;
    border: none;
    background: none;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.add-task .add-task-input:focus {
	outline: none;
}
.add-task .add-task-input::placeholder {
	color: #fff;
}