<div class="add-task">
	<a class="plus-wrapper">+</a>

	<input type="text" class="add-task-input chromeless" maxlength="255" data-key-placeholder="placeholder_add_task_mobile" data-key-aria-label="placeholder_add_task_to_$" data-placeholder="Inbox" data-aria-label="Inbox" placeholder="Add a to-do..." aria-label="Add a to-do in “Inbox”...">
</div>