.task-item {
  list-style: none;
  margin-top: 10px;
}
.task-item .complete-button {
  border-radius: 3px;
  background: rgba(102,137,100,0.75);
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.task-item .task-item-body {
  height: 46px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}
.task-item .task-item-body.pending {
  background: #fff;
  cursor: pointer;
}
.task-item .task-item-body.completed {
  background: #e1f2fe;
  opacity: .6;
}
.task-item .task-item-body.completed .task-item-title {
  text-decoration: line-through;
}
.task-item .task-item-title-wrapper {
  flex: 1;
  text-overflow: ellipsis;
}
.task-item .task-item-cta-wrapper {
  width: 72px;
  text-align: center;
}
.task-item .task-item-title {
  font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}
