<li class="task-item">
  <div
    class="task-item-body"
    [ngClass]="{
      'pending': task.status.includes('pending'),
      'completed': task.status.includes('completed')
    }"
  >
    <div class="task-item-title-wrapper">
      <span class="task-item-title">{{ task.name }}</span>
    </div>
    <button
      *ngIf="task.status.includes('pending')"
      class="complete-button"
      (click)="onTaskComplete()"
    >Complete</button>
    <div
      *ngIf="task.status.includes('completed')"
      class="task-item-cta-wrapper"
    >
      <i class="fa fa-check"></i>
    </div>
  </div>
</li>
